@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Random Passcode (Passcode # @Context.Session.GetInt32("Counter"))
    </h1>

    @Context.Session.GetString("Password")

    <form asp-action="GeneratePasscode" asp-controller="Home" method="POST">
        <input type="submit" value="Generate">
    </form>    
</div>
